<template name="dashboard">
    <div class="col-sm-10 col-md-10">
        <ul class="breadcrumb">
            <li class="active">Home</li>
        </ul>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default col-xs-offset-1 text-left">
            <div class="panel-heading">Home Security Status</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><span class="label label-default pull-left col-md-3 text-left">Component :</span>Ultrasonic Sensor <span class="label label-success pull-right">Online</span></li>
                    <li class="list-group-item"><span class="label label-default pull-left col-md-3 text-left">Component :</span>Current Sensor <span class="label label-success pull-right">Online</span></li>
                    <li class="list-group-item"><span class="label label-default pull-left col-md-3 text-left">Component :</span>Vibrator Sensor <span class="label label-success pull-right">Online</span></li>
                    <li class="list-group-item"><span class="label label-default pull-left col-md-3 text-left">Component :</span>Water Sensor <span class="label label-success pull-right">Online</span></li>
                    <li class="list-group-item"><span class="label label-default pull-left col-md-3 text-left">Component :</span>Gas Sensor <span class="label label-success pull-right">Online</span></li>
                    <li class="list-group-item"><span class="label label-default pull-left col-md-3 text-left">Component :</span>Temperature Sensor <span class="label label-success pull-right">Online</span></li>
                    <li class="list-group-item"><span class="label label-default pull-left col-md-3 text-left">Component :</span>Humidity Sensor <span class="label label-success pull-right">Online</span></li>
                    <li class="list-group-item"><span class="label label-default pull-left col-md-3 text-left">Component :</span>RFID Status <span class="label label-success pull-right">Online</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-3 text-center">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="label label-warning pull-right">cm</span>
                <b>Ultrasonic Sensor</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h3>0 cm</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3 text-center">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="label label-warning pull-right">Ampare</span>
                <b>Current Sensor</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h3>0 A</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3 text-center">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="label label-warning pull-right">1=Detected, 0=off</span>
                <b>Vibrator Sensor</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h3>0</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3 text-center">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="label label-warning pull-right">1=Detected, 0=off</span>
                <b>Water Sensor</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h3>0</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3 text-center">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="label label-warning pull-right">Unit</span>
                <b>Gas Sensor</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h3>0</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3 text-center">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="label label-warning pull-right">°C</span>
                <b>Temperature Sensor</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h3>0</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3 text-center col-xs-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="label label-warning pull-right">%</span>
                <b>Humidity Sensor</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h3>0 %</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3 text-center">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="label label-warning pull-right">1=ON , 0=OFF</span>
                <b>RFID Status</b>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <h3>0</h3>
            </div>
        </div>
    </div>
</template>