<template name="datalogging">
    <div class="col-sm-10 col-md-10">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider"></span></li>
            <li class="active">Data Logging</li>
        </ul>
    </div>
    <div class="col-lg-10">
    <div class="panel text-left panel-default">
        <div class="panel-heading">
            <b>Full Data Logs</b>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Logging Time</th>
                    <th>Ultrasonic Sensor</th>
                    <th>Current Sensor</th>
                    <th>Vibration Sensor</th>
                    <th>Water Sensor</th>
                    <th>Gas Sensor</th>
                    <th>Temperature Sensor</th>
                    <th>Humidity Sensor</th>
                    <th>RFID State</th>
                </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
        </div>
    </div>
    </div>
</template>